## pg_server_cache 
Looking on the cache of a PG Server

# Configuration
Open a connection to the DB. Use a Connection String stored in a .cfg file

In [1]:
import sqlalchemy
import pandas as pd
import configparser
import matplotlib.pyplot as plt 

# Read from the Config file
config = configparser.ConfigParser() 
config.read_file(open(r'../ipynb.cfg'))

con_str = config.get('con_str', 'PG_AIRBASES') 

engine = sqlalchemy.create_engine(con_str)

# print("Connecting with engine " + str(engine))
try:
    connection = engine.connect()
except (Exception, sqlalchemy.exc.SQLAlchemyError) as error:
    print("Error while connecting to PostgreSQL database:", error)

# Pre-Req
Check whether the extension exists
TODO: The cell below doesn't really work. The query returns "false" but the code ignores it. Maybe it returns the string "false" rather than a bit

In [9]:

sql_command = """
SELECT CASE WHEN COUNT(*) > 0 THEN B'1'::BIT(1) ELSE B'0'::BIT(1) END AS extension_exists
FROM pg_extension
WHERE extname = 'pg_buffercache';
"""
df = pd.read_sql_query(sql_command, connection)


from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

try:
    # Execute the SQL command
   
    result = connection.execute(sql_command).fetchone()

    # print (type(result[0]))
        # Check the result
    if result[0] == '0':
        raise ValueError("Error: The extension pg_buffercache doesn't exist ")
    else: 
        print ("The Extension pg_buffercache exists")
except (SQLAlchemyError, ValueError) as e:
    # Handle any errors or raised exceptions
    raise e

ValueError: Error: The extension pg_buffercache doesn't exist

## BUFFER CACHE
Postgres caches recent queries in memory called the shared buffer cache (shared_buffers in postgresql.conf). The pg_statio_user_tables has as rows representing various stats on each of the (user) tables. The two columns of interest we’ll be looking at are:

* pg_statio_user_tables.heap_blks_read — Number of disk blocks read from a table (ie. missed cache)
* pg_statio_user_tables.heap_blks_hits — Number of buffer hits from this table (ie. cache hit)

In [3]:
query_ccnnections_metrics = """
SELECT 
  schemaname, 
  pg_class.relname, 
  ROUND(
    CASE 
      WHEN heap_blks_hit + heap_blks_read = 0 
      THEN 0 
      ELSE heap_blks_hit::decimal / (heap_blks_hit + heap_blks_read) 
    END, 
    3
  ) as cache_hit_ratio
FROM 
  pg_statio_user_tables 
  JOIN pg_class ON pg_statio_user_tables.relid = pg_class.oid 
  JOIN pg_namespace ON pg_namespace.oid = pg_class.relnamespace;
"""

df = pd.read_sql_query(query_ccnnections_metrics, connection)
df

      schemaname                   relname  cache_hit_ratio
0   postgres_air               booking_leg            0.420
1   postgres_air                   airport            0.933
2   postgres_air                   account            0.999
3   postgres_air            frequent_flyer            1.000
4   postgres_air                   booking            0.309
5   postgres_air                 passenger            0.822
6   postgres_air                     phone            0.679
7   postgres_air             boarding_pass            0.052
8   postgres_air                    flight            0.990
9   postgres_air                  aircraft            0.816
10  postgres_air  boarding_pass_no_indexes            0.074
11  postgres_air                test_table            0.000
12        public               orders_test            0.852
13        public               vacuum_logs            0.800
14         metis  postgres_server_settings            0.914
15        public               index_stats            0.937
16        public                        t1            0.000
17        public           booking_flights            0.653
18  postgres_air               passenger_2            0.121
19        public                  accounts            0.684
20          cron                       job            0.647
21  postgres_air                   testing            0.000
22          cron           job_run_details            0.956
23        public                     sales            0.981
24        public                  students            0.987
25        public          qa_tests_flights            0.000
26        public            qa_table_wings            0.000
27        public         check_pk_overflow            0.000
28  postgres_air         check_pk_overflow            0.000
29      metis_qa     test_high_indexes_num            0.000
30        public       test_no_primary_key            0.000
31          logs             postgres_logs            0.000
32        public           orders_y2023m01            0.986
33        public           orders_y2023m02            0.986
34        public           orders_y2023m03            0.986

# pg_stat_database
https://www.postgresql.org/docs/current/monitoring-stats.html#MONITORING-PG-STAT-DATABASE-VIEW


The ```pg_stat_database``` view will contain one row for each database in the cluster, plus one for shared objects, showing database-wide statistics.

In [4]:
query_pg_stat_database = """
select * 
from pg_stat_database 
order by datname
limit 100
"""

df = pd.read_sql_query(query_pg_stat_database, connection)
df

,datid,datname,numbackends,xact_commit,xact_rollback,blks_read,blks_hit,tup_returned,tup_fetched,tup_inserted,...,tup_deleted,conflicts,temp_files,temp_bytes,deadlocks,checksum_failures,checksum_last_failure,blk_read_time,blk_write_time,stats_reset
0,71456,airbases,6,2072118,3650,4521340291,4614741428,1042717829659,346049979,107716243,...,17334,0,116365,282108959674,0,0,None,8.117971e+07,16650.110,2022-07-24 13:22:40.397635+00:00
1,2242855,airbases-demo,1,153975,344,83454297,173269449,9574994072,37523416,44271,...,52,0,10017,115377312164,0,0,None,1.181759e+07,0.000,2023-06-06 11:53:01.986265+00:00
2,2232832,airbases-qa,0,164040,71,3368,6783612,98601395,1158782,0,...,0,0,0,0,0,0,None,9.966950e+02,0.000,2023-06-04 12:27:35.760749+00:00
3,16416,ariksa,0,3255052,4299,12236578,149146153,3271580451,30420725,36471769,...,1751,0,182,5273378816,0,0,None,2.113840e+05,6622.894,2022-03-24 18:14:50.881796+00:00
4,741903,bee_hero,1,772050,308,43182,918798945,12297226892,17721745,136694,...,43,0,1453,1187679056,0,0,None,4.339223e+03,0.000,2023-04-13 11:50:31.632107+00:00
5,742423,bee_hero_2,1,760275,105,3851,31565163,459766448,5339548,110,...,0,0,0,0,0,0,None,1.846498e+03,0.000,2023-04-13 12:10:39.320840+00:00
6,27603,books,1,2470419,145,5404,102558808,1498967185,17337390,33,...,18,0,0,0,0,0,None,2.377240e+03,0.000,2022-05-24 10:05:01.930212+00:00
7,669717,demo,0,1480757,58,1042361,102494170,1084704286,18433248,21810519,...,10,0,569,1494502662,0,0,None,5.591741e+04,1706.707,2023-01-13 06:32:27.650539+00:00
8,1279674,dev_lior_platform,0,301546,380,7026,14309879,254094495,2183345,3278,...,336,0,0,0,0,0,None,3.543105e+03,0.049,2023-05-23 18:56:25.588308+00:00
9,2238988,grafana_demo,0,150675,14,2769,6324731,93431503,1085608,110,...,0,0,0,0,0,0,None,1.171827e+03,0.000,2023-06-05 13:41:34.205259+00:00
10,2233343,metis-qa-airbases,1,194922,328,139569133,260997022,15461537234,50122554,66629786,...,1367,0,15209,175027758601,0,0,None,1.985247e+07,13377.817,2023-06-04 12:34:21.392054+00:00
11,620733,platform-v2,45,4770557,58786,365078370,5762241221,25563766072,7890469354,15745923,...,1627920,0,248378,1153730771916,0,0,None,2.211941e+07,2231.371,2023-01-29 22:13:50.640788+00:00
12,14301,postgres,2,25154224,436,11005,162903572,2399101594,27118162,1462,...,96,0,1489777,13360919117416,0,0,None,6.224399e+03,0.000,2021-09-14 02:26:35.621660+00:00
13,16384,rdsadmin,2,86345110,641435,23137,425717912,6865276756,133751905,131,...,48,0,709371,4589975308244,0,0,None,1.430090e+04,0.064,2021-09-14 02:26:35.954900+00:00
14,422292,sqlalchemy-flask-test,0,1480389,12,4507,61480025,907399088,10403168,0,...,0,0,0,0,0,0,None,2.250407e+03,0.000,2022-09-20 14:20:57.354990+00:00
15,14300,template0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,None,0.000000e+00,0.000,NaT
16,1,template1,0,3165936,0,4244,131416324,1916732721,22186260,3,...,0,0,0,0,0,0,None,2.353812e+03,0.000,2022-03-24 17:25:06.429383+00:00
17,773210,traces,0,819985,2711,408195,68747929,1449872501,10118893,680358,...,30933,0,32,913603886,0,0,None,1.862531e+04,1.709,2023-04-15 08:50:47.750069+00:00
18,0,None,0,0,0,3316,718426782,2035518770,216723800,8102,...,5969,0,0,0,0,0,None,0.000000e+00,0.000,2021-09-14 02:26:35.621698+00:00